# Mac system files
.DS_Store
**/.DS_Store

# Python bytecode and cache files
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc.*
*.pyo
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/
.hypothesis/


# App specific files
.dstore/
~/.clipshare/

# Development tools
generate_icons.py
